@reference '@repo/theme/tailwind.css';

@theme static {
  --color-text: var(--color-fg);
  --color-text-passive: var(--color-fg-ter);

  /* text */
  --color-text: var(--color-fg); /* Main text (high contrast) */
  --color-text-sec: var(--color-fg-sec); /* Secondary text (muted, passive) */
  --color-text-ter: var(--color-fg-ter); /* Tertiary text (low contrast, hints) */
  --color-text-inverted: var(--color-bg); /* Opposite of light text */
  --color-text-inverted-sec: var(--color-bg-sec); /* Secondary inverted */
  --color-text-inverted-ter: var(--color-bg-ter); /* Tertiary inverted */

  --color-passive: var(--color-fg-ter);

  /* paragraph */
  --spacing-paragraph: 1.3333333em;
  --spacing-nested-inset: 1rem;

  /* list */
  --spacing-list-inset: 1rem;

  /* blockquote */
  --color-blockquote: #898f9d;
  --color-blockquote-border: #898f9d;

  /* highlight */
  --color-highlight: #d8dae1;
  --color-highlight-bg: rgba(209, 154, 102, 0.3);

  /* h1 */
  --color-h1: #e16d76;
  --font-weight-h1: 600;
  --tracking-h1: 0.015em;
  --leading-h1: 1.2;
  --text-h1-size: 1.125em;
  --font-family-h1: inherit;

  /* h2 */
  --color-h2: #d19a66;
  --font-weight-h2: 600;
  --tracking-h2: 0.015em;
  --leading-h2: 1.2;
  --text-h2-size: 1.05em;
  --font-family-h2: inherit;

  /* h3 */
  --color-h3: #cec167;
  --font-weight-h3: 500;
  --tracking-h3: 0.015em;
  --leading-h3: 1.3;
  --text-h3-size: 1em;
  --font-family-h3: inherit;

  /* h4 */
  --color-h4: #98c379;
  --font-weight-h4: 500;
  --tracking-h4: 0.015em;
  --leading-h4: 1.4;
  --text-h4-size: 0.9em;
  --font-family-h4: inherit;

  /* h5 */
  --color-h5: #62afef;
  --font-weight-h5: 500;
  --tracking-h5: 0.015em;
  --leading-h5: 1.5;
  --text-h5-size: 0.85em;
  --font-family-h5: inherit;

  /* h6 */
  --color-h6: #c678de;
  --font-weight-h6: 400;
  --tracking-h6: 0.015em;
  --leading-h6: 1.5;
  --text-h6-size: 0.85em;
  --font-family-h6: inherit;
}

@layer components {
  .typography {
    @apply text-text text-base;

    :is(a, .typography-a),
    &:is(a, .typography-a) {
      @apply text-accent hover:text-accent-hover active:text-accent-active underline;
    }

    :is(p, .typography-p),
    &:is(p, .typography-p) {
      @apply my-paragraph;
    }

    :is(blockquote, .typography-blockquote),
    &:is(blockquote, .typography-blockquote) {
      @apply text-blockquote ps-nested-inset my-paragraph border-s-blockquote-border mx-0 border-s;
    }

    :is(ul, .typography-ul),
    &:is(ul, .typography-ul) {
      @apply list-disc;
    }

    :is(ul, .typography-ul, ol, .typography-ol),
    &:is(ul, .typography-ul, ol, .typography-ol) {
      @apply ps-list-inset;

      :is(li, .typography-li) > :is(p, .typography-p) {
        @apply my-0;
      }
    }

    :is(mark, .typography-mark),
    &:is(mark, .typography-mark) {
      @apply text-highlight bg-highlight-bg;
    }
  }

  :is(h1, .typography-h1),
  &:is(h1, .typography-h1) {
    @apply text-h1 font-h1 tracking-h1 leading-h1 text-h1-size mb-paragraph;

    &:not(:first-child) {
      @apply mt-paragraph;
    }
  }

  :is(h2, .typography-h2),
  &:is(h2, .typography-h2) {
    @apply text-h2 font-h2 tracking-h2 leading-h2 text-h2-size mb-paragraph;

    &:not(:first-child) {
      @apply mt-paragraph;
    }
  }

  :is(h3, .typography-h3),
  &:is(h3, .typography-h3) {
    @apply text-h3 font-h3 tracking-h3 leading-h3 text-h3-size mb-paragraph;

    &:not(:first-child) {
      @apply mt-paragraph;
    }
  }

  :is(h4, .typography-h4),
  &:is(h4, .typography-h4) {
    @apply text-h4 font-h4 tracking-h4 leading-h4 text-h4-size mb-paragraph;

    &:not(:first-child) {
      @apply mt-paragraph;
    }
  }

  :is(h5, .typography-h5),
  &:is(h5, .typography-h5) {
    @apply text-h5 font-h5 tracking-h5 leading-h5 text-h5-size mb-paragraph;

    &:not(:first-child) {
      @apply mt-paragraph;
    }
  }

  :is(h6, .typography-h6),
  &:is(h6, .typography-h6) {
    @apply text-h6 font-h6 tracking-h6 leading-h6 text-h6-size mb-paragraph;

    &:not(:first-child) {
      @apply mt-paragraph;
    }
  }

  :is(
    h1,
    .typography-h1,
    h2,
    .typography-h2,
    h3,
    .typography-h3,
    h4,
    .typography-h4,
    h5,
    .typography-h5,
    h6,
    .typography-h6
  ),
  &:is(
      h1,
      .typography-h1,
      h2,
      .typography-h2,
      h3,
      .typography-h3,
      h4,
      .typography-h4,
      h5,
      .typography-h5,
      h6,
      .typography-h6
    ) {
    :is(a, .typography-a),
    &:is(a, .typography-a) {
      @apply text-inherit no-underline;
    }
  }
}
