@reference '../tailwind.css';

@layer theme {
  .theme {
    color: var(--color-text);

    /* ============================================================= */
    /*                    G E N E R A L                              */
    /* ============================================================= */
    /* Foreground */
    --color-fg: #1e1e1e; /* Main background */
    --color-fg-sec: #252526; /* Secondary (panels, sidebars) */
    --color-fg-ter: #2e2e2e; /* Tertiary (less prominent areas) */

    /* Background */
    --color-bg: #fafafa; /* Main text (high contrast) */
    --color-bg-sec: #eaeaeb; /* Secondary text (muted, passive) */
    --color-bg-ter: #a1a1a1; /* Tertiary text (low contrast, hints) */

    /* Text */
    --color-text: var(--color-fg); /* Main text (high contrast) */
    --color-text-sec: var(--color-fg-sec); /* Secondary text (muted, passive) */
    --color-text-ter: var(--color-fg-ter); /* Tertiary text (low contrast, hints) */
    --color-text-inverted: var(--color-bg); /* Opposite of light text */
    --color-text-inverted-sec: var(--color-bg-sec); /* Secondary inverted */
    --color-text-inverted-ter: var(--color-bg-ter); /* Tertiary inverted */

    /* Primary */
    --color-primary: oklch(59.461% 0.13981 250.3);
    --color-primary-50: oklch(88.402% 0.03808 245.79);
    --color-primary-100: oklch(85.123% 0.04893 246.49);
    --color-primary-200: oklch(78.553% 0.0728 247.52);
    --color-primary-300: oklch(72.015% 0.09581 247.93);
    --color-primary-400: oklch(65.614% 0.11847 248.76);
    --color-primary-500: oklch(59.461% 0.13981 250.3);
    --color-primary-600: oklch(49.682% 0.11531 250.45);
    --color-primary-700: oklch(39.586% 0.08695 249.26);
    --color-primary-800: oklch(28.644% 0.05818 249.8);
    --color-primary-900: oklch(16.8% 0.02461 245.58);
    --color-primary-950: oklch(6.3276% 0.01316 233.51);

    /* Accent */
    --color-fg-accent: var(--color-primary-500); /* Primary accent background */
    --color-fg-accent-sec: var(--color-primary-600); /* Slightly darker for secondary use */
    --color-fg-accent-ter: var(--color-primary-700); /* Darkest accent background */
    --color-bg-accent: var(--color-primary-50); /* Primary accent text/icon */
    --color-bg-accent-sec: var(--color-primary-100); /* Slightly muted for contrast */
    --color-bg-accent-ter: var(--color-primary-200); /* Softest for subtle usage */

    /* Neutral */
    --color-fg-neutral: var(--color-neutral-800); /* Primary neutral background */
    --color-fg-neutral-sec: var(--color-neutral-700); /* Secondary neutral */
    --color-fg-neutral-ter: var(--color-neutral-600); /* Tertiary neutral */
    --color-bg-neutral: var(--color-neutral-500); /* Primary neutral text */
    --color-bg-neutral-sec: var(--color-neutral-400); /* Secondary neutral text */
    --color-bg-neutral-ter: var(--color-neutral-300); /* Tertiary neutral text */

    /* Disabled */
    --color-bg-disabled: #2e2e2e; /* Primary disabled background */
    --color-bg-disabled-sec: #252525; /* Slightly darker secondary */
    --color-bg-disabled-ter: #1e1e1e; /* Darkest tertiary */
    --color-fg-disabled: #6b6b6b; /* Primary disabled text/icon */
    --color-fg-disabled-sec: #595959; /* Secondary disabled text */
    --color-fg-disabled-ter: #454545; /* Tertiary disabled (less important) */

    /* ============================================================= */
    /*                     B U T T O N                               */
    /* ============================================================= */
    --radius-btn: var(--radius-sm);

    /* Primary */
    --color-btn-primary-text: var(--color-bg);
    --color-btn-primary-bg: var(--color-fg-accent);
    --color-btn-primary-border: var(--color-fg-accent);

    --color-btn-primary-text-hover: var(--color-bg);
    --color-btn-primary-bg-hover: var(--color-fg-accent-sec);
    --color-btn-primary-border-hover: var(--color-fg-accent-sec);

    --color-btn-primary-text-active: var(--color-bg);
    --color-btn-primary-bg-active: var(--color-fg-accent-ter);
    --color-btn-primary-border-active: var(--color-fg-accent-ter);

    /* Secondary */
    --color-btn-secondary-text: var(--color-bg);
    --color-btn-secondary-bg: var(--color-bg-neutral-sec);
    --color-btn-secondary-border: var(--color-bg-neutral-sec);

    --color-btn-secondary-text-hover: var(--color-bg);
    --color-btn-secondary-bg-hover: var(--color-bg-neutral-ter);
    --color-btn-secondary-border-hover: var(--color-bg-neutral-ter);

    --color-btn-secondary-text-active: var(--color-bg);
    --color-btn-secondary-bg-active: var(--color-bg-neutral);
    --color-btn-secondary-border-active: var(--color-bg-neutral);

    /* Outline */
    --color-btn-outline-text: var(--color-fg-accent);
    --color-btn-outline-bg: transparent;
    --color-btn-outline-border: var(--color-fg-accent);

    --color-btn-outline-text-hover: var(--color-fg-accent-sec);
    --color-btn-outline-bg-hover: transparent;
    --color-btn-outline-border-hover: var(--color-fg-accent-sec);

    --color-btn-outline-text-active: var(--color-fg-accent-ter);
    --color-btn-outline-bg-active: transparent;
    --color-btn-outline-border-active: var(--color-fg-accent-ter);

    /* Ghost */
    --color-btn-ghost-text: var(--color-text);
    --color-btn-ghost-bg: transparent;

    --color-btn-ghost-text-hover: var(--color-text);
    --color-btn-ghost-bg-hover: --alpha(var(--color-bg-neutral-sec) / 50%);

    --color-btn-ghost-text-active: var(--color-text);
    --color-btn-ghost-bg-active: --alpha(var(--color-bg-neutral-ter) / 50%);

    /* Disabled */
    --color-btn-disabled-text: var(--color-fg-disabled);
    --color-btn-disabled-bg: var(--color-bg-disabled);
    --color-btn-disabled-border: var(--color-bg-disabled);

    /** 
  
  
  
  */

    --color-accent: #3182ce;
    --color-accent-hover: #2062a9;
    --color-accent-active: #1b4f89;

    --color-h1: #e45649;
    --color-h2: #a626a4;
    --color-h3: #4078f2;
    --color-h4: #50a14f;
    --color-h5: #c18401;
    --color-h6: #0184bc;

    /* @variant dark {
      --color-text: #abb2bf;
      --color-bg-primary: #282c34;
      --color-editor-bg: #282c34;

      --color-h1: #e06c75;
      --color-h2: #c678dd;
      --color-h3: #61afef;
      --color-h4: #98c379;
      --color-h5: #e5c07b;
      --color-h6: #56b6c2;
    } */

    /* Callout */
    --color-callout-info: rgb(2, 122, 255);
    --color-callout-info-bg: rgba(2, 122, 255, 0.1);
    --color-callout-warning: rgb(233, 151, 63);
    --color-callout-warning-bg: rgb(233, 151, 63, 0.1);
    --color-callout-error: rgb(251, 70, 76);
    --color-callout-error-bg: rgb(251, 70, 76, 0.1);

    [data-editor-node='callout'] {
      --callout-color: var(--color-callout-info);
      --callout-bg-color: var(--color-callout-info-bg);

      @apply relative rounded-sm p-nested-inset border bg-[var(--callout-bg-color)] border-[var(--callout-color)] my-paragraph;

      &[data-callout-type='warning'] {
        --callout-color: var(--color-callout-warning);
        --callout-bg-color: var(--color-callout-warning-bg);
      }

      &[data-callout-type='error'] {
        --callout-color: var(--color-callout-error);
        --callout-bg-color: var(--color-callout-error-bg);
      }

      [data-editor-node='callout-title'] {
        @apply relative leading-[1em] bg-transparent px-0 left-0 translate-y-0
        text-[var(--callout-color)];
      }
    }

    pre {
      margin: 1.5rem 0;
      border-radius: 0.5rem;
      background: var(--black);
      padding: 0.75rem 1rem;
      color: var(--white);
      font-family: 'JetBrainsMono', monospace;

      code {
        background: none;
        padding: 0;
        color: inherit;
        font-size: 0.8rem;
      }

      /* Code styling */
      :global(.hljs-comment),
      :global(.hljs-quote) {
        color: #616161;
      }

      :global(.hljs-variable),
      :global(.hljs-template-variable),
      :global(.hljs-attribute),
      :global(.hljs-tag),
      :global(.hljs-regexp),
      :global(.hljs-link),
      :global(.hljs-name),
      :global(.hljs-selector-id),
      :global(.hljs-selector-class) {
        color: #f98181;
      }

      :global(.hljs-number),
      :global(.hljs-meta),
      :global(.hljs-built_in),
      :global(.hljs-builtin-name),
      :global(.hljs-literal),
      :global(.hljs-type),
      :global(.hljs-params) {
        color: #fbbc88;
      }

      :global(.hljs-string),
      :global(.hljs-symbol),
      :global(.hljs-bullet) {
        color: #b9f18d;
      }

      :global(.hljs-title),
      :global(.hljs-section) {
        color: #faf594;
      }

      :global(.hljs-keyword),
      :global(.hljs-selector-tag) {
        color: #70cff8;
      }

      :global(.hljs-emphasis) {
        font-style: italic;
      }

      :global(.hljs-strong) {
        font-weight: 700;
      }
    }
  }
}
